<%- include('../template/login_header') %>
    <div class="card m-5">
        <div class="card-header text-center">
            <label class="h4">Privacy Policy</label>
        </div>
        <div class="card-body">
            <span class="h4 mb-4">
                Privacy Policy for BSECCS Banking Application
            </span>
            <p class="mt-2 ml-4">
                Welcome to the banking app of BSECCS, operated by BSECCS. As part of our commitment to protecting your privacy, we ensure that your personal information is handled responsibly and safely. This Privacy Policy describes how your information is collected, used, shared, and protected when you use our App. This Privacy Policy applies to you if you access or use our App. 
            </p>
            <span class="h4 mb-4">
                Introduction to the BSECCS Banking App
            </span>
            <p class="mt-2 ml-4">
                With the BSECCS Banking App, managing your finances is easy and convenient. BSECCS members can use this app to access account information, monitor payment statements, and manage fees anytime, anywhere. With just your registered mobile number and a secure MPIN, you can quickly log in and stay on top of your finances.
            </p>
            <p class="mt-2 ml-4">            
                Through the app, you can discover your deposit account balances, transaction details, loan and interest information, and receive real-time notifications about updates from the bank. It also provides handy tools like TD and RD calculators, loan calculators, and access to branch information, making it easier for you to plan your financial future.
            </p>
            <p class="mt-2 ml-4">            
                The app’s user-friendly interface and secure access ensure that your data is secured while you enjoy the convenience of banking at your fingertips. Whether you’re applying for new memberships, general loans, or additional shares, the BSECCS Banking App streamlines these processes, saving you time and effort. Stay connected and in control of your finances with the BSECCS Banking App—designed to make banking simpler and more accessible for you.
            </p>
    
            <span class="h4 mb-4">
                Purpose of the App
            </span>
            <p class="mt-2 ml-4">
                With the BSECCS Banking Application, our members can manage and monitor their financial activities in a simple and secure manner, including checking account balances, viewing transaction histories, managing loans, and accessing other banking services from anywhere, anytime. The App aims to enhance the user experience by offering convenient tools such as calculators for TD, RD, and loans, as well as up-to-date notifications about the bank's activities and services.
            </p>
    
            <span class="h4 mb-4">
                Scope
            </span>
            <p class="mt-2 ml-4">
                BSECCS Banking Application users are subject to this Privacy Policy regardless of the platform they use. The App collects all types of data, including personal data, transactional data, and device information. This policy does not cover third-party websites or services that may be linked within the App.
            </p>
            <span class="h4 mb-4">
                Why We Collect Your Information 
            </span>
            <p class="mt-2 ml-4">
                We collect your information for various purposes, which are:
            </p>
            <p class="mt-2 ml-4">            
                <b>Account Management:</b> To sign up with our app, verify yourself, and mostly manage your banking details, including processing your requests for memberships, loans, and additional shares.
            </p>
            <p class="mt-2 ml-4">            
                <b>Transaction Monitoring:</b> To provide you with up-to-date information on  your important financial transactions 
            </p>
            <p class="mt-2 ml-4">            
                <b>Notifications:</b> To send you notifications related to the bank, including updates on your account, changes in services, and other relevant information.
                
            </p>
            <span class="h4 mb-4">
                Confidentiality
            </span>
            <p class="mt-2 ml-4">
                We are dedicated to protecting the privacy of your personal data. We restrict access to your personal data to those employees, representatives, or partners who require it in order to perform services via the App. Strict contractual confidentiality responsibilities apply to all people and organizations who have access to your information; failure to uphold these duties could result in disciplinary action or termination.
            </p>
            <span class="h4 mb-4">
                Security
            </span>
            <p class="mt-2 ml-4">
                We take the necessary security precautions to guard against unauthorized access, alteration, disclosure, and destruction of your data. These precautions include physical security measures to prevent unwanted access to the systems where we hold personal data as well as internal evaluations of our data collecting, storage, and processing procedures.
            </p>
            <p class="mt-2 ml-4">
                We safeguard your data during transmission and storage using encryption and other security protocols. However, please note that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.
            </p>
            <span class="h4 mb-4">
                Data Rectification
            </span>
            <p class="mt-2 ml-4">
                You have the right to access your data and if necessary, it will be rectified. You are allowed to consult your data anytime and free of cost. You have also the right to demand incorrect data be corrected and unnecessary data be deleted by cooperating with our society.
            </p>
            <span class="h4 mb-4">
                Retention of Data
            </span>
            <p class="mt-2 ml-4">
                We retain your data only for as long as necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.
            </p>
            <span class="h4 mb-4">
                Changes to This Privacy Policy
            </span>
            <p class="mt-2 ml-4">
                We may update our Privacy Policy from time to time. Any changes will be posted on this page with an updated effective date. We encourage you to review this Privacy Policy periodically for any changes.
            </p>
        </div>
    </div>
<%- include('../template/login_footer') %>